body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    position: relative; 
    width: 200px;
    height: 200px;
}

.box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.box1 {
    background-color: #ff6347; 
    z-index: 1; 
}
.box2 {
    background-color: #4682b4; 
    z-index: 2; 
}
.box3 {
    background-color: #32cd32; 
    z-index: 3; 

}